html, body {
   height: 100%;
   margin: 2%;
   font-family: Helvetica;
   text-align: center;
}

#mapId {
     height: 90%;
     width: 90%;
     margin: 1% auto 1% auto; /* top, right, bottom, left */
     z-index: 0;
     float: none;
 }

#query {
     width: 500px;
     height: 30px;
     font-size: 16pt;
}

#queryLabel {
     font-size:16pt;
}

#numResults {
     width: 60px;
     height: 20px;
     font-size: 12pt;
}

#numResultsLabel {
     font-size: 14pt;
}

#toggleSearchOptions {
  height: 20px;
  width: 150px;
  font-size: 12pt;
}

#domains {
  width: 50%;
}

#dateNumber {
  width: 15%;
}

.submitButton {
     -moz-appearance: none;
     -webkit-appearance: none;
     width: 100px;
     height: 35px;
     background: #2196F3;
     padding: 0px 0px 2px 0px;
     vertical-align: top;
     font-size: 14pt;
     font-weight: normal;
     color: #fff;
     border: 1px solid #ccc;
     border-radius: 5%;
}

#mapAndOptionsContainer {
     height: 60%
}

#mapLanguage {
     position: relative;
     margin: 0 auto 0 auto;
     width: 40%;
     top: 105%;
}
#searchOptions {
     display: none;
     float: right;
     width: 45%;
}

.chosen-choices {
    max-height: 50px;
}

#loaderContainer {
     visibility: hidden; /* Only appears during loading */
     height: 75%;
     width: 60%;
     position: absolute;
     top: 19%;
     left: 4%;
     margin: 0% 15% 0% 15%;
     z-index: 1;
     display: flex;
     justify-content: center;
     align-items: center;
}

#loaderAndMessage {
     height: 300px;
     width: 300px;
}

.loader {
     float: top;
     border-top: 16px solid #010000; /* Black */
     border-radius: 50%;
     width: 150px;
     height: 150px;
     margin: 0 25% 0 25%;
     animation: spin 4s linear infinite;
}

.loadingMessage {
     font-size: x-large;
     font-weight: bold;
     float: bottom;
     margin: 10% 0 0 0;
}

.smallSpace {
     display: inline-block;
     width: 5px;
}

@-webkit-keyframes spin {
     0% { -webkit-transform: rotate(0deg); }
     100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
     0% { transform: rotate(0deg); }
     100% { transform: rotate(360deg); }
}

/* The switch - the box around the slider */
.switch {
 position: relative;
 display: inline-block;
 width: 60px;
 height: 34px;
 vertical-align: middle;
}

/* Hide default HTML checkbox */
.switch input {
 opacity: 0;
 width: 0;
 height: 0;
}

/* The slider */
.slider {
 position: absolute;
 cursor: pointer;
 top: 0;
 left: 0;
 right: 0;
 bottom: 0;
 background-color: #ccc;
 -webkit-transition: .4s;
 transition: .4s;
}

.slider:before {
 position: absolute;
 content: "";
 height: 26px;
 width: 26px;
 left: 4px;
 bottom: 4px;
 background-color: white;
 -webkit-transition: .4s;
 transition: .4s;
}

input:checked + .slider {
 background-color: #2196F3;
}

input:focus + .slider {
 box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
 -webkit-transform: translateX(26px);
 -ms-transform: translateX(26px);
 transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
 border-radius: 34px;
}

.slider.round:before {
 border-radius: 50%;
}

.infoTooltip {
     width: 15px;
     height: 15px;
}

/* Tooltip container */
.tooltip {
 position: relative;
 display: inline-block;
 vertical-align: middle;
 /*border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
 visibility: hidden;
 width: 250px;
 /*background-color: #2196F3;*/
 /*background-color: #555;*/
 background-color: #ccc;
 color: #000000;
 font-size: 10pt;
 /*border: 2px solid #000000;*/
 text-align: center;
 padding: 10px 15px 10px 15px;
 border-radius: 6px;

 /* Position the tooltip text */
 position: absolute;
 z-index: 1;
 bottom: 150%;
 left: 10%;
 margin-left: -240px;

 /* Fade in tooltip */
 opacity: 0;
 transition: opacity .3s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
 content: "";
 position: absolute;
 top: 100%;
 left: 90%;
 margin-left: -10px;
 border-width: 5px;
 border-style: solid;
 border-color: #ccc transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
 visibility: visible;
 opacity: 1;
}

/* Bold, main part of tooltip explanation */
.tooltip-main {
     font-weight: bold;
}

.note {
     font-size: 8pt;
     border-bottom: 1px dotted black;
}

li{
  margin: 10px 0;
}

a.myLinks:link {
  text-decoration: none;
}

a.myLinks:visited {
  color: #935A95;
}

a.myLinks:hover {
  text-decoration: underline;
}

a.myLinks:active {
  color: green;
}

.domain {
  color: #aaa;
  font-size: 8pt;
  white-space: pre;
}

.resultsDisplay {
  display: none;
}
