<!doctype html>

<html>

<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <meta name="description" content="Geotagging results of google searches">
     <meta name="keywords" content="geotagging, search">
     <meta name="author" content="Matti Masten">

     <title>Geo Search Terms</title>

     <!-- General styling -->
     <link rel="stylesheet" href="../static/main-page.css" type="text/css" media="screen" />

     <!--Leaflet CSS-->
     <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css" integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" crossorigin="" />

     <!-- Leaflet Javascript file, must come after CSS inclusion -->
     <script defer src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js" integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og==" crossorigin="">
     </script>

     <!-- Create initial map -->
     <script defer src="../static/createMap.js"></script>

     <!-- Jquery and input processing scripts -->
     <script defer src="../static/jquery-3.4.1.js"></script>
     <script defer src="../static/main-page.js"></script>

</head>

<body>
     <h1 id="title">Geotagging Search Terms</h1>
     <h3 id="instructions">Instructions</h3>
     <form action="#" id="inputForm">
          <label for="query">Search term</label>
          <input type="text" id="query">

          <span class="smallSpace"></span>

          <label for="numResults">Number of Results</label>
          <input type="number" id="numResults" value=10>

          <span class="smallSpace"></span>

          <input type="submit" value="Search" id="submit">
     </form>

     <div id="mapId"></div>

     <div id="loaderAndMessage">
          <div class="loader" id="loaderId"></div>
          <p class="loadingMessage" id="loadingMessageId">Running your search...</p>
     </div>
</body>

</html>
